* {
  box-sizing: border-box;
}

body {
  font-family: "Verdana",sans-serif;
  color: rgb(24, 21, 18);
  margin: 0;
  background-image:url(wac.jpeg) ;
  background-size: cover;
  background-position: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  background-image: red;


}

h1{
  
  font-weight:normal ;
  font-size: 4rem;
  margin-top: 5rem;
  animation-name: example;
  animation-duration: 8s;
  animation-delay: 2s;
   position: relative;
  
}
p{
  color: rgb(206, 238, 236);
}
.countdown-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.big-text {
 
  font-size: 5rem;
  line-height: 1;
  margin: 0 2rem;
}
.count-down-el {
  text-align: center;
  font-size: 1.5rem;
}
.count-down-el span{
  font-size: 1.3rem;

}
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
 
  70%  {background-color:rgb(235, 216, 164); left:0px; top:500px;}
  100% {background-color:red; left:0px; top:0px;}
   }
   span{
     color: rgb(212, 184, 184);
   }
